# Bytecode
__pycache__/
*.py[cod]

# Environment
venv/
pyvenv.cfg

# Distribution / Packages
bin/
include/
lib/
lib64/
dist/
build/
*.egg-info/

# Local
instance/

# Config
config.py

# Test
.pytest_cache/
.coverage
htmlcov/

#Bootstrap
FinReports/static/*
!FinReports/static/css
FinReports/static/css/*
!FinReports/static/css/style.css
!FinReports/static/css/bootstrap.min.css
!FinReports/static/css/lux.json



