/* Shared Styles */
.grid-nav {
    grid-area: nav;
}

.grid-search {
    grid-area: search;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 7% 93%;
    grid-template-areas: "nav search";
}

.nav-size {
    width: 5vw;
    height: 95vh;
    border-radius: 0% 3% 3% 0%;
    min-width: 5rem;
}
.nav-fixed {
    position: fixed;
    top: 0;
}

.search-size {
    width: 95%;
    margin-left: 2rem;
}

/* Homepage Styles */
.quote-size {
    width: 100%;
}

.flex-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem 2rem 2rem 4rem;
    width: 60%;
    margin-left: 10rem;
}

.mt-6 {
    margin-top: 5rem;

}

.mt-7 {
    margin-top: 10rem;
}

/* MacroDash Styles */

.indicator-data {
    height: 4rem;
    width: 95%;
}

.eqfut-card {
    height: 20% !important;
}

.crypto-card {
    height: 12% !important;
}

.commod-card {
    height: 30% !important;
}

/* StockScreen Styles */
.main-svg {
    border-radius: 2rem;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* StockScreen & MacroDash [Shared Styles] */
.body-height {
    height: 160vh
}

.data-card {
    width: 25%;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

td {
    white-space: nowrap;
}

._dash-loading {
    margin: auto;
    color: transparent;
    width: 0;
    height: 0;
    text-align: center;
  }
  
._dash-loading::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: black;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    margin-top: 2rem;
  }




