/* Shared Styles */
.grid-nav {
    grid-area: nav;
}

.grid-search {
    grid-area: search;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 7% 93%;
    grid-template-areas: "nav search";
}

.nav-size {
    width: 5vw;
    height: 95vh;
    border-radius: 0% 3% 3% 0%;
    min-width: 5rem;
}
.nav-fixed {
    position: fixed;
    top: 0;
}

.search-size {
    width: 95%;
    margin-left: 2rem;
}

/* Homepage Styles */
.quote-size {
    width: 100%;
}

.flex-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem 2rem 2rem 4rem;
    width: 60%;
    margin-left: 10rem;
}

.mt-6 {
    margin-top: 5rem;

}

.mt-7 {
    margin-top: 10rem;
}

/* StockScreen Styles */

.body-height {
    height: 120vh
}

.main-svg {
    border-radius: 2rem;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.data-card {
    width: 22%;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

td {
    white-space: nowrap;
}




